<div class= "top-button">
  <button type="button"><%= link_to("Back to Main Page", access_menu_path, :class => 'back-link') %></button>
</div>

<div class = "container">
  <h1>My Items</h1>

  <%= form_tag({:action => 'myItems'}, :method => :get) do %>
    <p>Sort By: <%= select_tag "sort_type", options_for_select(['Item Name', 'Amount',
      'Person', 'Checkout Date', 'Checkout Reason'], @sort_type)%>
      <%= select_tag "sort_dir", options_for_select(['A -> Z', 'Z -> A'], @sort_dir)%>
      <%= submit_tag("Search") %></p>
  <% end %>

  <table class = "table" summary=" My Checked out item List">
  <tr class = "header">
    <th>Item Name</th>
    <th>Amount</th>
    <th>Checkout Date</th>
    <th>Checkout Reason</th>
    <th>Details</th>
  </tr>
  <% @checkouts.each do |checkout| %>
  <tr>
    <td><%= checkout.item.name %></td>
    <td><%= checkout.amount %></td>
    <td><%= checkout.updated_at.to_date%></td>
    <td><%= checkout.checkout_reason %></td>
    <td>
      <%= link_to("Details", {:action => 'myitem_show', :id => checkout.id}, :class => 'action show') %>
      <%= link_to("Return", {:controller => 'return', :action => 'index', :id => checkout.id}, :class => 'action return') %>
    </td>
  </tr>
  <% end %>
</table>
</div>
