<div class="top-button">
  <button type="button"><%= link_to("Back to Users Page", users_path, :class => 'back-link') %></button>
</div>

<div class = "container">
  <h1>Update user</h1>

  <%= form_for(@user) do |f| %>

  <table class="table" summary = "user form fields">
    <tr>
      <th>First Name</th>
      <td><%= f.text_field(:first_name) %></td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td><%= f.text_field(:last_name) %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= f.text_field(:email) %></td>
    </tr>
    <tr>
      <th>Permission Level</th>
      <td><%= f.select :permissions, [0,1,2] %></td>
    </tr>
    <tr>
     <th>Key checked out</th>
     <td><%= f.select :hasKey, [ ["Yes", 1], ["No", 0]] %></td>
   </tr>
  </table>

  <div class = "form-buttons">
    <%= f.submit("Update user") %>
  </div>

  <% end %>
</div>
