<div class = "container">

  <div class="row">
  <div class="col" align="center">
    <div class="Titles">
      User List
    </div>
  </div>
  </div>

  <%= link_to("Add New user", new_user_path, :class=> 'action new') %>

  <%= form_tag({:action => 'index'}, :method => :get) do %>
    <p>Sort By: <%= select_tag "sort_type", options_for_select(['First Name', 'Last Name',
      'Permissions', 'Amount of Rented Items'], @sort_type)%>
      <%= select_tag "sort_dir", options_for_select(['A -> Z', 'Z -> A'], @sort_dir)%>
      <%= submit_tag("Sort") %>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <%= text_field_tag "search_tag"%>
      <%= submit_tag("Search") %></p>
  <% end %>

  <div class="row">
    <div class="col">
      <div class="card" style="margin-top:2%; width:100%; margin-left:0%;" align="center">
        <div class="card-body">
        <table class = "table" summary="user List">
        <tr class = "header">
          <th style="padding:0 15px 0 0;">First Name</th>
          <th style="padding:0 15px 0 0;">Last Name</th>
          <th style="padding:0 15px 0 0;">Permissions</th>
          <th style="padding:0 15px 0 0;">Amount of rented items</th>
          <th style="padding:0 15px 0 0;">Key checkout out</th>
          <th style="padding:0 15px 0 0;">Options</th>
          </tr>
        <% @users_sorted.each do |user| %>
        <tr>
          <td style="padding:0 15px 0 0;"><%= user.first_name %></td>
          <td style="padding:0 15px 0 0;"><%= user.last_name %></td>
          <td style="padding:0 15px 0 0;"><%= user.permissions %></td>
          <td style="padding:0 15px 0 0;"><%= user.item_ids.length %></td>
          <td style="padding:0 15px 0 0;"><%= user.hasKey == 0 ? 'No' : 'Yes' %></td>
          <td class="actions" style="padding:0 15px 0 0;">
            <button type="button" ><%= link_to("View Details", user_path(user), :class => 'action show') %></button>
            <button type="button" ><%= link_to("Show Items", {:controller => 'transactions', :action => "showAllUserItems", :id => user.id}) %></button>
          </td>
        </tr>
        <% end %>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
