<div class = "top-button">
  <button type="button"><%= link_to("Back to Main Page", access_menu_path, :class => 'back-link') %></button>
</div>

<div class = "container">
  <h1>Update account details</h1>

  <%= form_for @user, path: manage_update_user_path(@user), :url => {:action => 'manage_update'}, :method => :patch do |f| %>

  <table class="table" summary = "user form fields">
    <tr>
      <th><%= f.label :first_name%></th>
      <td><%= f.text_field(:first_name) %></td>
    </tr>
    <tr>
      <th><%= f.label :last_name%></th>
      <td><%= f.text_field(:last_name) %></td>
    </tr>
    <tr>
      <th><%= f.label :email%></th>
      <td><%= f.text_field(:email) %></td>
    </tr>
    <tr>
      <th><%= f.label :password%></th>
      <td><%= f.password_field(:password) %></td>
    </tr>
  </table>

  <div class = "form-buttons">
    <%= f.submit("Update account") %>
  </div>

  <% end %>
</div>