<div class="top-button">
<button type="button"><%= link_to("Back to Users Page", users_path, :class => 'back-link') %></button>
</div>

<div class="container">
<h1>Fill in the information to register!</h1>

<% if !!flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p style="color: red"><%= e %></p> <br>
  <% end %>
<% end %>
<%= form_for(@user) do |f| %>

    <table class="table">
      <tr>
        <th>First Name:</th>
        <td><%= f.text_field(:first_name)%></td>
      </tr>
      <tr>
        <th>Last Name:</th>
        <td><%= f.text_field(:last_name)%></td>
      </tr>
      <tr>
        <th>Email:</th>
        <td><%= f.text_field(:email)%></td>
      </tr>
      <tr>
        <th>Password:</th>
        <td><%= f.password_field(:password)%></td>
      </tr>

    </table>

<%= f.submit("Submit") %>
<% end %>
</div>
