<div class="top-button">
  <button type="button"><%= link_to("Back to User List", users_path, :class => 'back-link') %></button>
</div>

<div class = "container">
  
  <div class="row">
  <div class="col" align="center">
    <div class="Titles">
      User Info
    </div>
  </div>
  </div>

  <table class="table" summary = "user form fields">
    <tr>
      <th>First Name</th>
      <td><%= @user.first_name %></td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td><%= @user.last_name %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>Permission Level</th>
      <td><%= @user.permissions %></td>
    </tr>
    <tr>
     <th>Key checked out</th>
     <td><%= @user.hasKey %></td>
   </tr>
  </table>

  <div class="form-buttons" align="center">
  <button><%= link_to("Edit user", edit_user_path(@user), :class => 'edit-link') %></button>
  <button><%= link_to("Delete user", delete_user_path(@user), :class => 'delete-link') %></button>
  </div>

</div>
