<% @page_title = "Admin Menu" %>

<div class="menu text-center">
<h2>Admin Menu</h2>
  <div class="identity">
    <p>Logged in as: <%= @user.first_name%> <%= @user.last_name%></p>
  </div>
  <div class="container">
    <button type="button"><%= link_to("Manage Items", items_path) %></button>
    <button type="button"><%= link_to("Manage Users", users_path) %></button>
    <button type="button"><%= link_to("View All Checked Out Items", checkout_showAll_url) %></button>
    <button type="button"><%= link_to("My Checked Out Items", checkout_myItems_url) %></button>
    <button type="button" id="key"><%= link_to("Checkout/Return Key", users_key_path) %></button>
    <button type="button" id="transaction"><%= link_to("Transactions", transactions_path) %></button>
    <button type="button"><%= link_to("Logout", access_logout_path) %></button>
  </div>
</div>
