<div class = "top-button">
  <button type="button"><%= link_to("Back to Item Page", item_path(@item), :class => 'back-link') %></button>
</div>

<div class = "container">

  <div class="row">
  <div class="col" align="center">
    <div class="Titles">
      Update Item
    </div>
  </div>
  </div>

  <%= form_for(@item) do |f| %>

  <table class="table" summary = "item form fields">
    <tr>
      <th>Item Name</th>
      <td><%= f.text_field(:name) %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= f.text_field(:description) %></td>
    </tr>
    <tr>
      <th>Total Stock</th>
      <td><%= f.text_field(:total_stock) %></td>
    </tr>
    <tr>
      <th>Available Stock</th>
      <td><%= f.text_field(:avail_stock) %></td>
    </tr>
    <tr>
      <th>Location</th>
      <td><%= f.text_field(:location) %></td>
    </tr>
    <tr>
      <th>Is this merchandise?</th>
      <td><%= f.select :merch, ['No', 'Yes'] %></td>
    </tr>
  </table>
  <div class="form-buttons" align="center">
  <%= f.submit("Submit") %>
  </div>
  <% end %>
</div>
