<div class = "container">

  <div class="row">
  <div class="col" align="center">
    <div class="Titles">
      Inventory
    </div>
  </div>
  </div>

  <%= link_to("Add New Item", new_item_path, :class=> 'action new') %>

  <%= form_tag({:action => 'index'}, :method => :get) do %>
    <p>Sort By: <%= select_tag "sort_type", options_for_select(['Name', 'Description',
      'Total Stock', 'Available Stock'], @sort_type)%>
      <%= select_tag "sort_dir", options_for_select(['A -> Z', 'Z -> A'], @sort_dir)%>
      <%= submit_tag("Sort") %>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <%= text_field_tag "search_tag"%>
      <%= submit_tag("Search") %></p>
  <% end %>

  <div class="row">
    <div class="col">
      <div class="card" style="margin-top:2%; width:100%; margin-left:0%;" align="center">
        <div class="card-body">
        <table class = "table" summary="item List">
        <tr class = "header">
          <th style="padding:0 15px 0 0;">Name</th>
          <th style="padding:0 15px 0 0;">Description</th>
          <th style="padding:0 15px 0 0;">Total Stock</th>
          <th style="padding:0 15px 0 0;">Available Stock</th>
          <th style="padding:0 15px 0 0;">Merch</th>
          <th style="padding:0 15px 0 0;">Options</th>
        </tr>
        <% @items_sorted.each do |item| %>
        <tr>
          <td style="padding:0 15px 0 0;"><%= item.name %></td>
          <td style="padding:0 15px 0 0;"><%= item.description %></td>
          <td style="padding:0 15px 0 0;"><%= item.total_stock %></td>
          <td style="padding:0 15px 0 0;"><%= item.avail_stock %></td>
          <td style="padding:0 15px 0 0;"><%= item.merch %></td>
          <td class="actions" style="padding:0 15px 0 0;">
            <button type="button" ><%= link_to("View Details", item_path(item), :class => 'action show') %></button>
            <button type="button" ><%= link_to("Checkout", {:controller => 'transactions', :action => 'checkout', :id => item.id}, :class => 'action edit') %></button>
          </td>
        </tr>
        <% end %>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
