<div class= "top-button">
  <button type="button"><%= link_to("Back to Users Page", users_path, :class => 'back-link') %></button>
</div>

<div class = "container">
  <h1><%= @user.first_name %> <%= @user.last_name %>'s Items</h1>

  <%= form_tag({:action => 'showAllUserItems', :id => @user.id}, :method => :get) do %>
    <p>Sort By: <%= select_tag "sort_type", options_for_select(['Item Name',
      'Amount', 'Checkout Date', 'Event'], @sort_type)%>
      <%= select_tag "sort_dir", options_for_select(['A -> Z', 'Z -> A'], @sort_dir)%>
      <%= hidden_field_tag "id", @user.id %>
      <%= submit_tag("Search") %></p>
  <% end %>

  <table class = "table" summary=" My Checked out item List">
  <tr class = "header">
    <th>User</th>
    <th>Item Name</th>
    <th>Amount</th>
    <th>Event</th>
    <th>Checkout Date</th>
    <th>Status</th>
  </tr>
  <% @transactions_sorted.each do |transaction| %>
  <tr>
    <td><%= transaction.requestor_name %></td>
    <td><%= transaction.item_name %></td>
    <td><%= transaction.item_quantity %></td>
    <td><%= transaction.event %></td>
    <td><%= transaction.updated_at %></td>
    <td><%= transaction.type_ %></td>
  </tr>
  <% end %>
</table>
</div>
</div>
